[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-constance = "*"
django-rest-auth = "*"
psycopg2-binary = "*"
twilio = "*"
django-picklefield = "*"
gunicorn = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
